<h1>
  {{title}}
</h1>
<nav class="nav justify-content-end">
  <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/products">All Products</a>
</nav>
<router-outlet></router-outlet>
