<h2>{{title}}</h2>
<label for="rateTypeSelect">Filter products by rate type</label>
  <select name="rateTypeSelect" placeholder="Select the rate type to filter by"
    [(ngModel)]="filterValue" name="filterValue">
    <option value="" selected>No filter</option>
    <option value="fixed" selected>Fixed</option>
    <option value="instant">Instant</option>
    <option value="term">Term</option>
    <option value="notice">Notice</option>
  </select>
  <br />
  <label for="rateOrderBy">Sort products by rate</label>
  <select name="rateOrderBy" [(ngModel)]="orderBy" name="orderBy">
    <option value="" selected>No sorting</option>
    <option value="rate">Ascending</option>
    <option value="!rate">Descending</option>
  </select>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Rate</th>
        <th>Rate Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of (products | orderby : orderBy |
      productsFilter : 'rateType':filterValue); let i = index">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.rate}}</td>
        <td>{{product.rateType}}</td>
    </tbody>
  </table>
<p class="error">{{errorMessage}}</p>
