<h2>{{title}}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Rate</th>
      <th>Rate Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.rate}}</td>
      <td>{{product.rateType}}</td>
  </tbody>
</table>

<a routerLink="/products" routerLinkActive="active">View all products</a>
